* {
  margin: 0;
}

:root {
  --taskbar-color: #1B262C;
  --weathercard-color: #BBE1FA;
  --background-color: #ffffff;
  --loading-color: #3282B8;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.task-bar {
  display: flex;
  background-color:var(--taskbar-color);
  color: white;
  padding: 15px;
  display:flex;
  align-items: center;
  
}

.title-header {
  cursor: pointer;
  text-shadow: 2px 2px black;
}

.eight-day-weather-panel {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.weather-card {
  background-color: var(--weathercard-color);
  box-shadow: 10px 5px 5px grey;
  padding: 50px;
  text-align: center;
  margin-right: 15px;
  border-radius: 10%;
  width: 200px;
  color: white;
  text-shadow: 2px 2px black;
  

}

.main-weather-card {
  background-color: var(--weathercard-color);
  align-items:center;
  justify-content: center;
  box-shadow: 10px 5px 5px grey;
  padding: 50px;
  text-align: center;
  margin-top: 10px;
  width: 350px;
  border-radius: 10%;
}

.current-weather-info-div {
  display: flex;
  justify-content: center;
}

.location-search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-right: 185px;
  
}

.text-box {
  height: 25px;
  font-size: 19px;
  
}

.submit-button {
  padding-right: 5px;
}

.loader-container {
  display: flex;
  justify-content: center;
  padding-top: 30%;
}

/* Loader animation code from W3Schools */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--loading-color);
  width: 150px;
  height: 150px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;


}

/* Safari */
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin{
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}